.jumbotron{
    background-size: cover; 
    height: 550px;
}

.banner_title{
    color: white; 
    text-align: center;
    padding-top: 200px;
    font-size: 150px;
    z-index: 20;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.banner_text{

    padding-top : 250px; 
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    color: white;
}

.container-fluid{
    height:80px;

}

button{
    margin-right: 10px;
    margin-left: 10px;
}

label{
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col{
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}