{% extends 'base.html' %}

{% block title %} Animals {% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="{{url_for('static', filename='bison.png')}}" alt="" style="height: 50px; padding-right: 10px;">
        <a class="navbar-brand" href="index.html">Yellowstone National Park Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <!-- <a class="nav-link " href="/park_rangers">Park Rangers</a> -->
                <a class="nav-link" href="/trails">Trails</a>
                <a class="nav-link" href="/rivers">Rivers</a>
                <a class="nav-link" href="/geysers">Geysers</a>
                <a class="nav-link" href="/plants">Plants</a>
                <a class="nav-link active" href="/animals">Animals</a>
                <a class="nav-link" href="/mammals">Mammals</a>
                <a class="nav-link" href="/birds">Birds</a>
                <a class="nav-link" href="/fish">Fish</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}


{% block body %}
<div class="jumbotron" style="background-image: url(/static/animal\ banner.png);">
    <h1 class="banner_title">Animals</h1>

</div>
<div class="animals">
    <div class="col-md-12">

        <h2>Manage <b>Animals </b> <button type="button" class="btn btn-success float-right" data-toggle="modal"
                data-target="#mymodal">Add New Animal</button> </h2>

        <div class="row">
            <div class="col col-sm">
                <h3>Filter By Endangerment:</h3>
            </div>
            <div class="col col-sm">
                <a href="/endangerment_filter1" class="btn btn-danger btn-xs">Filter by Least Concern</a>
            </div>
            <div class="col-sm">
                <a href="/endangerment_filter2" class="btn btn-danger btn-xs">Filter by Not Endangered</a>
            </div>
            <div class="col-sm">
                <a href="/endangerment_filter3" class="btn btn-danger btn-xs">Filter by Threatened</a>
            </div>
            <div class="col-sm">
                <a href="/endangerment_filter4" class="btn btn-danger btn-xs">Filter by Most Endangered</a>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col col-sm">
                <h3>Filter By Diet:</h3>
            </div>
            <div class="col col-sm">
                <a href="/diet_filter1" class="btn btn-danger btn-xs">Filter by Carnivore</a>
            </div>
            <div class="col-sm">
                <a href="/diet_filter2" class="btn btn-danger btn-xs">Filter by Omnivore</a>
            </div>
            <div class="col-sm">
                <a href="/diet_filter3" class="btn btn-danger btn-xs">Filter by Herbivore</a>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
        <div class="row">
            <div class="col col-sm">
            </div>
            <div class="col col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <a href="/animals" class="btn btn-danger btn-xs">Clear Filters</a>
            </div>

        </div>
        {% with messages = get_flashed_messages() %}

        {% if messages %}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="close">

                <span aria-hidden="true">x</span>

            </button>


            {{message}}


        </div>


        {% endfor %}

        {% endif %}
        {% endwith %}

        <table class="table table-hover table-dark">

            <tr>

                <th>Scientific Name</th>
                <th>Common Name</th>
                <th>Diet</th>
                <th>Mating Season</th>
                <th>Population</th>
                <th>Endangerment</th>
                <th>Action</th>

            </tr>



            {% for animals in animals %}

            <tr>
                <td>{{animals.a_scientific_name}}</td>
                <td>{{animals.a_common_name}}</td>
                <td>{{animals.diet}}</td>
                <td>{{animals.mating_season}}</td>
                <td>{{animals.population}}</td>
                <td>{{animals.extinction_threat}}</td>
                <td>
                    <a href="/update" class="btn btn-warning btn-xs">Edit</a>
                    <a href="/delete/{{animals.a_scientific_name}}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure You Want To Delete?')">Delete</a>


                </td>
            </tr>




            </tr>


            <!-- Modal Edit Animal-->
            


            {% endfor %}
        </table>


    </div>


    <!----------------------------------------- INSERTING ANIMAL------------------------------------------>


    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add Animal</h4>
                </div>
                <div class="modal-body">

                    <form action="{{url_for('insert')}}" method="POST">


                        <div class="form-group">

                            <label>Scientific Name:</label>
                            <input type="text" class="form-control" name="scientific_name" required="1">


                        </div>


                        <div class="form-group">


                            <label>Common Name:</label>
                            <input type="text" class="form-control" name="common_name" required="1">


                        </div>


                        <div class="form-group">


                            <label>Diet:</label>
                            <input type="text" class="form-control" name="diet" required="1">


                        </div>
                        <div class="form-group">


                            <label>Mating Season:</label>
                            <input type="text" class="form-control" name="mating_season" required="1">


                        </div>
                        <div class="form-group">


                            <label>Population:</label>
                            <input type="text" class="form-control" name="population" required="1">


                        </div>
                        <div class="form-group">


                            <label>Endangerment:</label>
                            <input type="text" class="form-control" name="endangerment" required="1">


                        </div>



                        <div class="form-group">


                            <button class="btn btn-primary" type="submit">Add Animal</button>


                        </div>


                    </form>


                </div>


                <div class="modal-footer">


                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                </div>


            </div>


        </div>


    </div>

    <!-- ------------------Filter by Endangerment---------------------------------------- -->

    


{% endblock %}